* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: arial, sans-serif;
}

.head{
    height: 34px;
    display: flex;
    justify-content: flex-end;
}

.head #links {
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
}

.head #links a {
    margin-left: 30px;
    font-size: small;
    color: darkslategray;
    text-decoration: none;
}

.head #links a:hover {
    border-bottom: 1px solid darkslategray;
}

#main_section {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main_section #inputfield {
    border: 1px solid lightgray;
    height: 20px;
    border-radius: 38px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
    width: 548px;
}

#main_section #inputfield:hover {
    border: 1px solid white;
    box-shadow: 0 0 7px lightgray;
}

#main_section #inputfield input {
    width: 100%;
    border: none;
    margin-left: 7px;
    outline: none;
    font-size: 16px;
    box-shadow: none;
}

#main_section #button {
    display: flex;
    justify-content: center;
}

#main_section #button input {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    font-size: 14px;
    margin: 20px 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

body {
    font-family: arial, sans-serif;
}

.advancedheader {
    height: 34px;
    display: flex;
    justify-content: space-between;
}

.advancedheader #googlelogosmall {
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
}

.advancedheader #links {
    margin-right: 20px;
    margin-top: 20px;
    display: flex;

}

.advancedheader #links a {
    margin-left: 30px;
    font-size: small;
    color: darkslategray;
    text-decoration: none;
}

.advancedheader #links a:hover {
    border-bottom: 1px solid darkslategray;
}

.subheader {
    height: 105px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid lightgrey;
}

.subheader h3 {
    font-size: 20px;
    margin-top: 55px;
    margin-left: 45px;
    color: red;
    font-weight: 100;
}

.input_one {
    display: flex;
    align-items: center;
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}

.input_one #smalltextheading {
    font-size: 16px;
    min-width: 20px;
    width: 16%;
    font-weight: 500;
    color: #333;
}

.input_one #smalltextheadingtwo {
    font-size: 13px;
    min-width: 20px;
    width: 30%;
    font-weight: 700;
    color: #777;
}

.input_one .textadv {
   width: 200px;
   font-size: 13px; 
}

.input_one .inputfield {
    min-width: 167px;
    width: 50%;
}

.input_one .inputfield input{
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    font-size: 13px;
    height: 25px;
    padding: 1px 18x;
    width: 100%;
}

.input_one .todo {
    width: 32%;
    min-width: 16px;
    color: #555;
    font-size: 11px;
    padding-left: 30px;
}

span {
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}

.input_one .button {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.button input {
    background-color: #4d90fe;
    color: #fff;
    height: 30px;
    min-width: 120px;
    border: 1px solid #3079ed;
    border-radius: 2px;
    font-size: 11px;
    font-weight: bold;

}